<h1 class="display-5 text-center mt-2 mb-3"> MODIFICATION DE MOT DE PASSE </h1>

<div class="container-md mt-2">
  <div class="card" style="30rem">
  <div class="card-body">
    <div class="form-group">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "Nouveau mot de passe" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control"  %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"  %>
        </div>

        <div class="justify-content-center">
          <%= f.submit "Changer de mot de passe", :class => 'btn btn-primary' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
