<% if @gossip.errors.any? %>
    <% @gossip.errors.full_messages.each do |message| %>
      <p class="alert alert-danger d-flex justify-content-center" role="alert"><%= message %></p>
    <% end %>
<% end %>

<h1 class="display-5 text-center mt-5"> Nouveau potin ! ðŸ–‹ </h1>

<div class="container mt-2 form-group">
 <%= form_tag url_for(action: 'create'), method: "post" do %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <%= label_tag 'Titre du potin' %>
      <%= text_field_tag 'title', @gossip.title, class:"form-control" %>
      <br />
      <%= label_tag 'Contenu du potin' %>
      <%= text_area_tag 'content', @gossip.content, class:"form-control" %>
      <br /> 
      <%= label_tag 'Tag ðŸ·' %>
      <%= select_tag 'tag', options_from_collection_for_select(@tags, "id", "title", "1") %>
      <br />
     <input type="hidden" name="user" value=<%= current_user.id %>>

      <%= submit_tag "Ajouter Gossip", class:"btn btn-info mt-3"%>

    <% end %>
</div>