<html>
  <head>
    <title>Gossip Project</title>
  </head>
  <body>
    <div class="container-md mt-5">
      <div class="card mt-2">
        <h5 class="card-header">Gossip N°<%=params[:id]%></h5>
        <div class="card-body">
          <h5> <span class="card-author">Auteur</span> : 
          <%= link_to @current_gossip.user.first_name, user_path(@current_gossip.user.id) %>
          </h5>
          <p> <span class="card-author">De</span> :
          <%= link_to @current_gossip.user.city.name, city_path(@current_gossip.user.city.id) %>
          </p>

          <hr>

          <code>
          <% @tags.each do |tag| %>
          <%=tag%>
          <% end %>
          </code>

          <hr>
          
          <h5><%= @current_gossip.title %></h5>
          <p><%= @current_gossip.content %></p>
          <p class="blockquote-footer"><%= @current_gossip.created_at.strftime("%a %d %m %Y") %></p>
          <div class="modal-footer">
            <%= link_to "Modifier", edit_gossip_path(@current_gossip.id), class:"btn btn-outline-info" %>
            <%= link_to "Supprimer", gossip_path(@current_gossip.id), class:"btn btn-outline-danger", data:{confirm:"Etes vous sûr de vouloir   supprimer ce potin ?", method:"DELETE"} %>
          </div>
        </div>
      </div>
    <div>

    <div class="container-sm mt-3">

      <div>
        <%= render 'comments/index'%>
        <%= render 'comments/new'%>
      </div>

    </div>
    
  </body>
</html>