<html>
  <head>
    <title>Gossip Project</title>
  </head>
  <body>
    <div class="container-md">
    <div class="card mt-2">
      <h5 class="card-header">Gossip N°<%= @gossip_id %></h5>
      <div class="card-body">
        <h5> <span class="card-author">Auteur</span> : 
        <%= link_to User.find_by(id:@gossip.user_id).entire_name, user_path(User.find_by(id:@gossip.user_id).id)%>
        </h5>
        <hr>

        <%# Prochain objectif : mettre ce genre de méthode dans le model ou controller %>
        <kbd>
        <% number_of_tags = JoinTableGossipTag.where(gossip_id:@gossip_id).length %>
        <% i = 0 %>
        <% number_of_tags.times do %>

        <%= Tag.find_by(id:JoinTableGossipTag.where(gossip_id:@gossip_id)[i].tag_id).title %>
        
        <% i += 1 %>
        <% end %>
        
        </kbd>
        <hr>
        <h5><%= @gossip.title %></h5>
        <p><%= @gossip.content %></p>
        <p class="blockquote-footer"><%= @gossip.created_at.strftime("%a %d %m %Y") %></p>
      </div>
    </div>
    <div>
  </body>
</html>